In [476]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.impute import KNNImputer
import seaborn as sns
!wget -O dataset.csv "https://raw.githubusercontent.com/LozinskiMatthew/Depression-Predicting-Model/refs/heads/main/final_depression_dataset_1.csv"
!wget -O test.csv "https://raw.githubusercontent.com/LozinskiMatthew/Depression-Predicting-Model/refs/heads/main/test.csv"

data = pd.read_csv("/content/dataset.csv")
final_dataset = pd.read_csv("/content/test.csv")
data.columns

--2025-03-01 09:37:05--  https://raw.githubusercontent.com/LozinskiMatthew/Depression-Predicting-Model/refs/heads/main/final_depression_dataset_1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 259561 (253K) [text/plain]
Saving to: ‘dataset.csv’

dataset.csv         100%[===================>] 253.48K  --.-KB/s    in 0.04s

2025-03-01 09:37:05 (6.71 MB/s) - ‘dataset.csv’ saved [259561/259561]

--2025-03-01 09:37:05--  https://raw.githubusercontent.com/LozinskiMatthew/Depression-Predicting-Model/refs/heads/main/test.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10822309 (10M) [text/plain]
Saving to: ‘test.csv’

test.csv            100%[===================>]  10.32M  --.-KB/s    in 0.1s

2025-03-01 09:37:06 (102 MB/s) - ‘test.csv’ saved [10822309/10822309]

Index(['Name', 'Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure', 'CGPA',
       'Study Satisfaction', 'Job Satisfaction', 'Sleep Duration',
       'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?',
       'Work/Study Hours', 'Financial Stress',
       'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [477]:
final_dataset['Dietary Habits'].isna().sum()

5

In [478]:
final_dataset.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No

In [479]:
len(data)

2556

In [480]:
final_dataset.isna().sum()

id                                           0
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               24632
Academic Pressure                        75033
Work Pressure                            18778
CGPA                                     75034
Study Satisfaction                       75033
Job Satisfaction                         18774
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64

In [481]:
final_dataset.isna().sum()

id                                           0
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               24632
Academic Pressure                        75033
Work Pressure                            18778
CGPA                                     75034
Study Satisfaction                       75033
Job Satisfaction                         18774
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64

The better would be too assert whether the students and workers have in juxtaposition their relative columns filled, it happens in training set, but does not always occur witin the final_dataset.

In [482]:
data.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Pooja,Female,37,Ghaziabad,Working Professional,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,Moderate,MA,No,6,2,No,No
1,Reyansh,Male,60,Kalyan,Working Professional,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,Unhealthy,B.Com,Yes,0,4,Yes,No
2,Manvi,Female,42,Bhopal,Working Professional,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,Moderate,M.Com,No,0,2,No,No
3,Isha,Female,44,Thane,Working Professional,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Healthy,MD,Yes,1,2,Yes,No
4,Aarav,Male,48,Indore,Working Professional,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,Moderate,BE,Yes,6,5,Yes,No

In [483]:
data.columns

Index(['Name', 'Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure', 'CGPA',
       'Study Satisfaction', 'Job Satisfaction', 'Sleep Duration',
       'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?',
       'Work/Study Hours', 'Financial Stress',
       'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [484]:
data["Dietary Habits"].unique()

array(['Moderate', 'Unhealthy', 'Healthy'], dtype=object)

In [485]:
data["Study Satisfaction"].unique()

array([nan,  4.,  5.,  3.,  2.,  1.])

In [486]:
data.isnull().sum()

Name                                        0
Gender                                      0
Age                                         0
City                                        0
Working Professional or Student             0
Profession                                673
Academic Pressure                        2054
Work Pressure                             502
CGPA                                     2054
Study Satisfaction                       2054
Job Satisfaction                          502
Sleep Duration                              0
Dietary Habits                              0
Degree                                      0
Have you ever had suicidal thoughts ?       0
Work/Study Hours                            0
Financial Stress                            0
Family History of Mental Illness            0
Depression                                  0
dtype: int64

In [487]:
# data = data.drop(columns=['City', 'Name', 'Profession'], axis=1)

In [488]:
train_data, temp_data = train_test_split(data, test_size=0.2, shuffle=True, random_state=42)

In [489]:
# train_data['Name'].unique()

In [490]:
train_data.columns

Index(['Name', 'Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure', 'CGPA',
       'Study Satisfaction', 'Job Satisfaction', 'Sleep Duration',
       'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?',
       'Work/Study Hours', 'Financial Stress',
       'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [491]:
'''
Not that if the rest of the columns does not have outliers, and in many cases the distributions are U instad of N,
we shall conclude that the normalization after filling with proper values shall occur.
'''
for column in train_data.columns:
  print(f"The: {column} has a value counts of: ")
  print(train_data[column].value_counts())
  print("\n --- \n")

The: Name has a value counts of:
Name
Rohan       24
Tushar      21
Sanya       20
Kiran       19
Vani        19
            ..
Lakshay      4
Shivansh     4
Harini       3
Aarya        3
Rupa         2
Name: count, Length: 216, dtype: int64

 ---

The: Gender has a value counts of:
Gender
Male      1051
Female     993
Name: count, dtype: int64

 ---

The: Age has a value counts of:
Age
56    62
49    61
29    59
28    58
38    56
24    56
33    56
20    55
47    53
25    53
31    52
40    52
39    52
42    51
41    50
59    50
51    50
35    49
34    49
57    49
54    48
53    47
43    47
18    46
46    46
50    45
48    45
45    45
26    45
30    44
55    43
36    42
22    41
19    41
44    40
23    40
58    40
60    39
27    39
21    38
37    37
52    37
32    36
Name: count, dtype: int64

 ---

The: City has a value counts of:
City
Srinagar         89
Mumbai           82
Vasai-Virar      78
Meerut           78
Kalyan           77
Pune             77
Patna            74
Bhopal           73
Rajkot           72
Vadodara         72
Indore           72
Ahmedabad        71
Agra             70
Kanpur           70
Visakhapatnam    69
Ludhiana         69
Varanasi         69
Chennai          69
Kolkata          68
Hyderabad        65
Thane            64
Surat            62
Delhi            62
Jaipur           59
Nashik           58
Nagpur           57
Bangalore        57
Lucknow          56
Faridabad        55
Ghaziabad        50
Name: count, dtype: int64

 ---

The: Working Professional or Student has a value counts of:
Working Professional or Student
Working Professional    1642
Student                  402
Name: count, dtype: int64

 ---

The: Profession has a value counts of:
Profession
Teacher                   270
Content Writer             93
Architect                  65
Pharmacist                 64
HR Manager                 64
Consultant                 53
Doctor                     53
Business Analyst           53
Entrepreneur               51
Chef                       50
Chemist                    47
Travel Consultant          38
Lawyer                     38
Educational Consultant     37
Manager                    37
Researcher                 36
Judge                      34
Customer Support           32
Data Scientist             31
Financial Analyst          30
Finanancial Analyst        30
Marketing Manager          28
Pilot                      28
Electrician                27
Plumber                    27
Sales Executive            26
Software Engineer          26
Mechanical Engineer        24
Civil Engineer             23
Digital Marketer           23
UX/UI Designer             22
Graphic Designer           19
Accountant                 15
Research Analyst           11
Investment Banker           5
Name: count, dtype: int64

 ---

The: Academic Pressure has a value counts of:
Academic Pressure
3.0    100
5.0     83
1.0     78
4.0     72
2.0     69
Name: count, dtype: int64

 ---

The: Work Pressure has a value counts of:
Work Pressure
5.0    343
2.0    330
4.0    327
1.0    323
3.0    319
Name: count, dtype: int64

 ---

The: CGPA has a value counts of:
CGPA
8.04    7
9.21    4
7.09    4
9.44    4
7.94    3
       ..
5.58    1
7.07    1
5.98    1
8.98    1
8.71    1
Name: count, Length: 280, dtype: int64

 ---

The: Study Satisfaction has a value counts of:
Study Satisfaction
4.0    102
3.0     81
2.0     81
5.0     70
1.0     68
Name: count, dtype: int64

 ---

The: Job Satisfaction has a value counts of:
Job Satisfaction
5.0    354
2.0    344
3.0    319
1.0    318
4.0    307
Name: count, dtype: int64

 ---

The: Sleep Duration has a value counts of:
Sleep Duration
7-8 hours            522
Less than 5 hours    517
More than 8 hours    505
5-6 hours            500
Name: count, dtype: int64

 ---

The: Dietary Habits has a value counts of:
Dietary Habits
Unhealthy    700
Healthy      685
Moderate     659
Name: count, dtype: int64

 ---

The: Degree has a value counts of:
Degree
Class 12    220
B.Ed         93
MCA          89
B.Com        85
BHM          81
B.Arch       79
BCA          79
MSc          78
B.Pharm      73
LLB          71
BA           70
BE           69
PhD          68
MBBS         68
BSc          67
M.Ed         67
M.Tech       67
MBA          67
BBA          67
MHM          65
LLM          64
MA           63
ME           62
MD           61
M.Pharm      58
B.Tech       57
M.Com        56
Name: count, dtype: int64

 ---

The: Have you ever had suicidal thoughts ? has a value counts of:
Have you ever had suicidal thoughts ?
No     1034
Yes    1010
Name: count, dtype: int64

 ---

The: Work/Study Hours has a value counts of:
Work/Study Hours
10    175
9     172
0     167
5     165
11    163
2     161
3     159
1     154
12    153
4     146
7     146
6     145
8     138
Name: count, dtype: int64

 ---

The: Financial Stress has a value counts of:
Financial Stress
2    432
1    416
5    407
4    399
3    390
Name: count, dtype: int64

 ---

The: Family History of Mental Illness has a value counts of:
Family History of Mental Illness
No     1055
Yes     989
Name: count, dtype: int64

 ---

The: Depression has a value counts of:
Depression
No     1672
Yes     372
Name: count, dtype: int64

 ---

The data seems to be very well distributed, maybe besides profession, but this is to be analyzed, I will ohe to fill them mostly with means, lest Nan occurs, additionally outliers are preliminary cleansed therefore I shall not worry about them.

In [492]:
"""
X = data_in_work.drop(columns=['Depression'])
y = data_in_work['Depression']
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, shuffle = True)
"""

"\nX = data_in_work.drop(columns=['Depression'])\ny = data_in_work['Depression']\nfrom sklearn.model_selection import train_test_split\n\nX_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, shuffle = True)\n"

In [493]:
"""
print(y_test.value_counts())
y_train.value_counts()
"""

'\nprint(y_test.value_counts())\ny_train.value_counts()\n'

Therefore they will be LabelEncoded, for OHE would add no needed dimensionality, also it ois binary classification, therefore model wont assume much disparsity between classes, for the abstract space between them is same.

In [494]:
"""
def encodeTarget(y_train, y_test):
  from sklearn.preprocessing import LabelEncoder
  encoder = LabelEncoder()
  y_train = encoder.fit_transform(y_train)
  y_test = encoder.transform(y_test)
  return y_train, y_test
y_train, y_test = encodeTarget(y_train, y_test)
"""

'\ndef encodeTarget(y_train, y_test):\n  from sklearn.preprocessing import LabelEncoder\n  encoder = LabelEncoder()\n  y_train = encoder.fit_transform(y_train)\n  y_test = encoder.transform(y_test)\n  return y_train, y_test\ny_train, y_test = encodeTarget(y_train, y_test)\n'

In [495]:
"""
The dataset itself is pretty small, very likely that it contains a linear,
conclusions within it's data, so we will try firstly, to use DT, with highest grid search
then SVC, and if these two would not yield proper results, some relatively borad and
shallow DL models will be tried, also ensemble might be a good idea, I'll see.
Data in tabular form, it seems to cotain mostly linear complications, it is
not big enough for big models, also the model is biased towards
saying that the particular patient does not have depression solely, based on
the number of 1/0 targets, respectively r. 1/5, which also might hurt DL model
(more than ML model)

"""
# (data['CGPA'].unique() < 5.5).sum()
def categorize_by_cgpa(cgpa):
  if np.isnan(cgpa):
    return 'N'
  elif cgpa < 6 and cgpa >= 5:
    return '5-6'
  elif cgpa < 7 and cgpa >= 6:
    return '6-7'
  elif cgpa < 8 and cgpa >= 7:
    return '7-8'
  elif cgpa < 9 and cgpa >= 8:
    return '8-9'
  elif cgpa <= 10 and cgpa >= 9:
    return '9-10'

In [496]:
train_data['cgpa_grouped'] = train_data['CGPA'].apply(categorize_by_cgpa)
temp_data['cgpa_grouped'] = temp_data['CGPA'].apply(categorize_by_cgpa)
final_dataset['cgpa_grouped'] = final_dataset['CGPA'].apply(categorize_by_cgpa)
train_data['cgpa_grouped'].value_counts()

cgpa_grouped
N       1642
8-9       90
7-8       83
9-10      82
5-6       81
6-7       66
Name: count, dtype: int64

In [497]:
train_data[train_data['CGPA'] == 10]

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,cgpa_grouped
2525,Siddharth,Male,26,Indore,Student,NaN,5.0,NaN,10.0,2.0,NaN,More than 8 hours,Unhealthy,B.Com,No,8,3,No,Yes,9-10

In [498]:
train_data['CGPA'].mean()

7.564029850746268

In [499]:
"""
Now we shall incur( we have sufficient data for it also it might be a good idea, to
                   check whether our data is nit biased in any way) who has the most probability
of ilness in groups and people without it shouldnt be judged diferently, I will decide if mean is a good idea.
"""
cgba_and_depression = pd.crosstab(train_data['cgpa_grouped'], train_data['Depression'])

# for el in cgba_and_depression:
  # print(el)
cgba_and_depression['yes_ratio'] = cgba_and_depression['Yes'] / (cgba_and_depression['Yes'] + cgba_and_depression['No'])
cgba_and_depression
# CGPA seems to do not contain linear differences within itself,but it could have some influence or correletion with different variales

Depression      No  Yes  yes_ratio
cgpa_grouped
5-6             47   34   0.419753
6-7             30   36   0.545455
7-8             40   43   0.518072
8-9             37   53   0.588889
9-10            43   39   0.475610
N             1475  167   0.101705

In [500]:
# train_data.corr()
#Bofre this i shall chnage it to num values
# For sleep duration I will take mean of ([0] and [3]), and if 8 in then I assume 9 (people only confident in this statement would bouc for it thus not 8,5)
#For less tahn 5 I will take 4.5, four is too low
train_data['Sleep Duration'].value_counts()

Sleep Duration
7-8 hours            522
Less than 5 hours    517
More than 8 hours    505
5-6 hours            500
Name: count, dtype: int64

In [501]:
#Thankfully there are not any Nans to deal with, thus we will create afunction
#to analyse and create new column with well suited data for sleep duration (sd)
def adjust_sleep_duration(sd):
  if '5' in sd and '6' in sd:
    return 5.5
  if '5' in sd and '6' not in sd:
    return 4.5
  if '7' in sd and '8' in sd:
    return 7.5
  if '8' in sd and '7' not in sd:
    return 9.0
  # Firstly I thought about it as a good approach but now I consider in invalid and redunadant I will use Ohe..
  # But I shall use this function for further data analysis.

In [502]:
# data_in_work['sd_prepared'] = data_in_work['Sleep Duration'].apply(adjust_sleep_duration)
# data_in_work['sd_prepared'].value_counts()

In [503]:
train_data['sd_grouped'] = train_data['Sleep Duration'].apply(adjust_sleep_duration)
temp_data['sd_grouped'] = temp_data['Sleep Duration'].apply(adjust_sleep_duration)
final_dataset['sd_grouped'] = final_dataset['Sleep Duration'].apply(adjust_sleep_duration)

In [504]:
pd.crosstab(train_data['Depression'], train_data['sd_grouped'])

sd_grouped  4.5  5.5  7.5  9.0
Depression
No          403  408  431  430
Yes         114   92   91   75

The more sleep, the less depression.

In [505]:
train_data.drop(columns=['CGPA', 'Sleep Duration'], axis = 1, inplace = True)
temp_data.drop(columns=['CGPA'], axis = 1, inplace = True)
final_dataset.drop(columns=['CGPA'], axis = 1, inplace = True)

In [506]:
train_data.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,cgpa_grouped,sd_grouped
2462,Advait,Male,55,Srinagar,Working Professional,Content Writer,NaN,1.0,NaN,4.0,Unhealthy,M.Ed,Yes,10,1,No,No,N,7.5
1918,Ira,Female,18,Lucknow,Student,NaN,3.0,NaN,5.0,NaN,Moderate,Class 12,No,4,1,Yes,No,5-6,7.5
1905,Aanchal,Female,28,Patna,Working Professional,Content Writer,NaN,4.0,NaN,4.0,Unhealthy,B.Ed,Yes,0,2,Yes,No,N,4.5
2338,Riya,Female,51,Thane,Working Professional,Doctor,NaN,1.0,NaN,5.0,Unhealthy,M.Pharm,No,7,1,No,No,N,5.5
2238,Apoorva,Female,46,Agra,Working Professional,Civil Engineer,NaN,3.0,NaN,1.0,Healthy,PhD,No,3,4,No,No,N,4.5

In [507]:
temp_data.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,cgpa_grouped,sd_grouped
1266,Vihaan,Male,48,Pune,Working Professional,Teacher,NaN,1.0,NaN,4.0,Less than 5 hours,Moderate,MD,Yes,2,4,Yes,No,N,4.5
1749,Aishwarya,Female,35,Nagpur,Working Professional,HR Manager,NaN,1.0,NaN,3.0,More than 8 hours,Moderate,BCA,Yes,11,1,Yes,No,N,9.0
2050,Atharv,Male,29,Faridabad,Working Professional,Lawyer,NaN,2.0,NaN,5.0,More than 8 hours,Healthy,LLB,No,0,2,Yes,No,N,9.0
393,Shlok,Male,51,Varanasi,Working Professional,Doctor,NaN,2.0,NaN,1.0,7-8 hours,Healthy,M.Pharm,Yes,10,2,No,No,N,7.5
1544,Amit,Male,42,Rajkot,Working Professional,Chemist,NaN,4.0,NaN,2.0,5-6 hours,Healthy,B.Pharm,Yes,10,3,Yes,No,N,5.5

In [508]:
temp_data['sd_grouped'].value_counts()

sd_grouped
7.5    136
4.5    131
5.5    128
9.0    117
Name: count, dtype: int64

In [509]:
train_data["Profession"].value_counts()

Profession
Teacher                   270
Content Writer             93
Architect                  65
Pharmacist                 64
HR Manager                 64
Consultant                 53
Doctor                     53
Business Analyst           53
Entrepreneur               51
Chef                       50
Chemist                    47
Travel Consultant          38
Lawyer                     38
Educational Consultant     37
Manager                    37
Researcher                 36
Judge                      34
Customer Support           32
Data Scientist             31
Financial Analyst          30
Finanancial Analyst        30
Marketing Manager          28
Pilot                      28
Electrician                27
Plumber                    27
Sales Executive            26
Software Engineer          26
Mechanical Engineer        24
Civil Engineer             23
Digital Marketer           23
UX/UI Designer             22
Graphic Designer           19
Accountant                 15
Research Analyst           11
Investment Banker           5
Name: count, dtype: int64

City seems to be completely irrevelant, for the conclusions, thus we may drop it, but aforehand I shall analyse it further.

In [510]:
train_data.columns

Index(['Name', 'Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure',
       'Study Satisfaction', 'Job Satisfaction', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression',
       'cgpa_grouped', 'sd_grouped'],
      dtype='object')

In [511]:
pd.crosstab(train_data['Profession'] == 'Teacher', train_data['Depression'])

Depression    No  Yes
Profession
False       1428  346
True         244   26

In [512]:
train_data['Depression'].value_counts()

Depression
No     1672
Yes     372
Name: count, dtype: int64

In [513]:
train_data['Working Professional or Student'].value_counts()

Working Professional or Student
Working Professional    1642
Student                  402
Name: count, dtype: int64

In [514]:
print(train_data['Work Pressure'].value_counts())
train_data['Academic Pressure'].value_counts()

Work Pressure
5.0    343
2.0    330
4.0    327
1.0    323
3.0    319
Name: count, dtype: int64

Academic Pressure
3.0    100
5.0     83
1.0     78
4.0     72
2.0     69
Name: count, dtype: int64

Fortunately there are not any NAN values within the

In [515]:
train_data['Academic Pressure'].value_counts()

Academic Pressure
3.0    100
5.0     83
1.0     78
4.0     72
2.0     69
Name: count, dtype: int64

In [516]:
train_data.isnull().sum()

Name                                        0
Gender                                      0
Age                                         0
City                                        0
Working Professional or Student             0
Profession                                534
Academic Pressure                        1642
Work Pressure                             402
Study Satisfaction                       1642
Job Satisfaction                          402
Dietary Habits                              0
Degree                                      0
Have you ever had suicidal thoughts ?       0
Work/Study Hours                            0
Financial Stress                            0
Family History of Mental Illness            0
Depression                                  0
cgpa_grouped                                0
sd_grouped                                  0
dtype: int64

In [517]:
final_dataset['Dietary Habits'].isna().sum()

5

In [518]:
def categorize_by_name(name):
  first_letter = name[0]
  if 'A' <= first_letter <= 'M':
    return 'A-M'
  else:
    return 'N-Z'

train_data['Names_grouped'] = train_data['Name'].apply(categorize_by_name)
train_data['Names_grouped'].value_counts()
# data['Names_grouped']
print(train_data['Names_grouped'].value_counts())

Names_grouped
A-M    1027
N-Z    1017
Name: count, dtype: int64

In [519]:
train_data = train_data.copy()
train_data.drop(columns=['Name', 'Names_grouped'], axis = 1, inplace = True)
train_data.head()

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,cgpa_grouped,sd_grouped
2462,Male,55,Srinagar,Working Professional,Content Writer,NaN,1.0,NaN,4.0,Unhealthy,M.Ed,Yes,10,1,No,No,N,7.5
1918,Female,18,Lucknow,Student,NaN,3.0,NaN,5.0,NaN,Moderate,Class 12,No,4,1,Yes,No,5-6,7.5
1905,Female,28,Patna,Working Professional,Content Writer,NaN,4.0,NaN,4.0,Unhealthy,B.Ed,Yes,0,2,Yes,No,N,4.5
2338,Female,51,Thane,Working Professional,Doctor,NaN,1.0,NaN,5.0,Unhealthy,M.Pharm,No,7,1,No,No,N,5.5
2238,Female,46,Agra,Working Professional,Civil Engineer,NaN,3.0,NaN,1.0,Healthy,PhD,No,3,4,No,No,N,4.5

In [520]:
#Genders should be OneHotEncoded
def encodeSet(X_train, X_test, train_column, test_column, data):
  ore = OrdinalEncoder(data)
  X_train_encoded = X_train.copy()
  X_test_encoded = X_test.copy()
  X_train_encoded = ore.fit_transform(X_train[train_column])
  X_test_encoded = ore.transform(X_test[test_column])

"""
X_train_gender_encoded = ohe.fit_transform(train_data[['Gender']])
train_gender_encoded_df = pd.DataFrame(X_train_gender_encoded, columns=ohe.get_feature_names_out(['Gender']))
X_train = pd.concat([train_data.drop(columns = ['Gender']), train_gender_encoded_df], axis = 1)
X_test_gender_encoded = ohe.transform(temp_data[['Gender']])
test_gender_encoded_df = pd.DataFrame(X_test_gender_encoded, columns=ohe.get_feature_names_out(['Gender']))
X_test = pd.concat([temp_data.drop(columns = ['Gender']), test_gender_encoded_df], axis = 1)
print(X_train.head())
X_test.head()
"""

"\nX_train_gender_encoded = ohe.fit_transform(train_data[['Gender']])\ntrain_gender_encoded_df = pd.DataFrame(X_train_gender_encoded, columns=ohe.get_feature_names_out(['Gender']))\nX_train = pd.concat([train_data.drop(columns = ['Gender']), train_gender_encoded_df], axis = 1)\nX_test_gender_encoded = ohe.transform(temp_data[['Gender']])\ntest_gender_encoded_df = pd.DataFrame(X_test_gender_encoded, columns=ohe.get_feature_names_out(['Gender']))\nX_test = pd.concat([temp_data.drop(columns = ['Gender']), test_gender_encoded_df], axis = 1)\nprint(X_train.head())\nX_test.head()\n"

In [521]:
#To normalize: Age, Work Pressure and Academic Pressure, CGPA, Job Satisfaction, Work/Study Hours, Financial Stress
#Change Sleep duration to numerical means???? That is the question, otherwise they go for OneHotEndoding
def normalize_data(X_train, X_test, columns):
    from sklearn.preprocessing import MinMaxScaler

    scaler = MinMaxScaler()
    X_train_scaled = X_train.copy()
    X_test_scaled = X_test.copy()

    X_train_scaled[columns] = scaler.fit_transform(X_train[columns])
    X_test_scaled[columns] = scaler.transform(X_test[columns])

    X_train_scaled = pd.DataFrame(X_train_scaled, columns=columns)
    X_test_scaled = pd.DataFrame(X_test_scaled, columns=columns)

    return X_train_scaled, X_test_scaled


columns_to_normalize = ['Age', 'Work Pressure', 'Academic Pressure', 'CGPA',
                        'Job Satisfaction', 'Work/Study Hours', 'Financial Stress']
'''
X_train_normalized, X_test_normalized = normalize_data(
    X_train[['Age', 'Work Pressure', 'Academic Pressure', 'CGPA', 'Job Satisfaction', 'Work/Study Hours', 'Financial Stress']],
    X_test[['Age', 'Work Pressure', 'Academic Pressure', 'CGPA', 'Job Satisfaction', 'Work/Study Hours', 'Financial Stress']],
    columns_to_normalize
)
'''

"\nX_train_normalized, X_test_normalized = normalize_data(\n    X_train[['Age', 'Work Pressure', 'Academic Pressure', 'CGPA', 'Job Satisfaction', 'Work/Study Hours', 'Financial Stress']],\n    X_test[['Age', 'Work Pressure', 'Academic Pressure', 'CGPA', 'Job Satisfaction', 'Work/Study Hours', 'Financial Stress']],\n    columns_to_normalize\n)\n"

In [522]:
# name_group_by_suicide = pd.crosstab(train_data['Names_grouped'], train_data['Depression'])
# name_group_by_suicide
#Name seems to not matter, especially that we can catogarize humans on their genders, thus we can drop the name
#Maybe if some name would start from Sir, or Mrs, but none of the suffice these requirements
#Notice that we will contain, and model will learn on it's own that the gender has much significance, we do not need to
#divide names in some else fashion.

In [523]:
pd.crosstab(train_data['City'], train_data['Depression'])
# Ok for some cities there are differences, but due to the sample size, diffs, and  i hae to say that there is not a significant difference
# It could result in wrong overfitting, trying to get out of the datasets generalization to population, thus I must throw out cities (also PCA).

Depression     No  Yes
City
Agra           61    9
Ahmedabad      58   13
Bangalore      48    9
Bhopal         58   15
Chennai        57   12
Delhi          55    7
Faridabad      46    9
Ghaziabad      39   11
Hyderabad      43   22
Indore         60   12
Jaipur         51    8
Kalyan         64   13
Kanpur         61    9
Kolkata        53   15
Lucknow        43   13
Ludhiana       57   12
Meerut         66   12
Mumbai         67   15
Nagpur         46   11
Nashik         46   12
Patna          61   13
Pune           65   12
Rajkot         57   15
Srinagar       69   20
Surat          51   11
Thane          50   14
Vadodara       61   11
Varanasi       60    9
Vasai-Virar    63   15
Visakhapatnam  56   13

In [524]:
train_data[train_data.notna().all(axis=1)].head(15)
# They contradict (in a possitive way)

Empty DataFrame
Columns: [Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, Study Satisfaction, Job Satisfaction, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness, Depression, cgpa_grouped, sd_grouped]
Index: []

In [525]:
train_data.head(15)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,cgpa_grouped,sd_grouped
2462,Male,55,Srinagar,Working Professional,Content Writer,NaN,1.0,NaN,4.0,Unhealthy,M.Ed,Yes,10,1,No,No,N,7.5
1918,Female,18,Lucknow,Student,NaN,3.0,NaN,5.0,NaN,Moderate,Class 12,No,4,1,Yes,No,5-6,7.5
1905,Female,28,Patna,Working Professional,Content Writer,NaN,4.0,NaN,4.0,Unhealthy,B.Ed,Yes,0,2,Yes,No,N,4.5
2338,Female,51,Thane,Working Professional,Doctor,NaN,1.0,NaN,5.0,Unhealthy,M.Pharm,No,7,1,No,No,N,5.5
2238,Female,46,Agra,Working Professional,Civil Engineer,NaN,3.0,NaN,1.0,Healthy,PhD,No,3,4,No,No,N,4.5
2453,Male,54,Meerut,Working Professional,Teacher,NaN,5.0,NaN,1.0,Moderate,B.Ed,No,0,4,Yes,No,N,4.5
759,Female,40,Delhi,Working Professional,Entrepreneur,NaN,1.0,NaN,1.0,Moderate,B.Tech,Yes,2,3,No,No,N,5.5
240,Female,40,Kanpur,Working Professional,Consultant,NaN,4.0,NaN,3.0,Healthy,BBA,Yes,10,3,No,No,N,5.5
765,Male,30,Patna,Student,NaN,1.0,NaN,5.0,NaN,Moderate,BCA,Yes,10,3,No,No,5-6,5.5
1387,Male,49,Jaipur,Working Professional,Teacher,NaN,2.0,NaN,5.0,Unhealthy,MBA,Yes,2,4,No,No,N,4.5
1882,Male,36,Indore,Working Professional,UX/UI Designer,NaN,2.0,NaN,5.0,Healthy,M.Tech,Yes,6,2,Yes,No,N,4.5
2215,Male,56,Vasai-Virar,Working Professional,Content Writer,NaN,3.0,NaN,5.0,Unhealthy,ME,Yes,0,4,No,No,N,7.5
350,Male,39,Agra,Working Professional,Judge,NaN,4.0,NaN,4.0,Moderate,LLM,No,0,5,No,No,N,9.0
2342,Male,26,Lucknow,Student,NaN,1.0,NaN,4.0,NaN,Unhealthy,B.Com,Yes,10,4,Yes,Yes,9-10,5.5
949,Male,57,Patna,Working Professional,HR Manager,NaN,1.0,NaN,4.0,Healthy,BBA,Yes,1,5,Yes,No,N,9.0

In [526]:
train_data.head()

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,cgpa_grouped,sd_grouped
2462,Male,55,Srinagar,Working Professional,Content Writer,NaN,1.0,NaN,4.0,Unhealthy,M.Ed,Yes,10,1,No,No,N,7.5
1918,Female,18,Lucknow,Student,NaN,3.0,NaN,5.0,NaN,Moderate,Class 12,No,4,1,Yes,No,5-6,7.5
1905,Female,28,Patna,Working Professional,Content Writer,NaN,4.0,NaN,4.0,Unhealthy,B.Ed,Yes,0,2,Yes,No,N,4.5
2338,Female,51,Thane,Working Professional,Doctor,NaN,1.0,NaN,5.0,Unhealthy,M.Pharm,No,7,1,No,No,N,5.5
2238,Female,46,Agra,Working Professional,Civil Engineer,NaN,3.0,NaN,1.0,Healthy,PhD,No,3,4,No,No,N,4.5

In [527]:
train_data['Degree'].value_counts()

Degree
Class 12    220
B.Ed         93
MCA          89
B.Com        85
BHM          81
B.Arch       79
BCA          79
MSc          78
B.Pharm      73
LLB          71
BA           70
BE           69
PhD          68
MBBS         68
BSc          67
M.Ed         67
M.Tech       67
MBA          67
BBA          67
MHM          65
LLM          64
MA           63
ME           62
MD           61
M.Pharm      58
B.Tech       57
M.Com        56
Name: count, dtype: int64

In [528]:
train_data.isna().sum()

Gender                                      0
Age                                         0
City                                        0
Working Professional or Student             0
Profession                                534
Academic Pressure                        1642
Work Pressure                             402
Study Satisfaction                       1642
Job Satisfaction                          402
Dietary Habits                              0
Degree                                      0
Have you ever had suicidal thoughts ?       0
Work/Study Hours                            0
Financial Stress                            0
Family History of Mental Illness            0
Depression                                  0
cgpa_grouped                                0
sd_grouped                                  0
dtype: int64

In [529]:
pd.crosstab(train_data['Profession'], train_data['Depression'])

Depression               No  Yes
Profession
Accountant               13    2
Architect                58    7
Business Analyst         48    5
Chef                     46    4
Chemist                  46    1
Civil Engineer           21    2
Consultant               48    5
Content Writer           89    4
Customer Support         30    2
Data Scientist           26    5
Digital Marketer         22    1
Doctor                   50    3
Educational Consultant   36    1
Electrician              25    2
Entrepreneur             50    1
Finanancial Analyst      28    2
Financial Analyst        27    3
Graphic Designer         14    5
HR Manager               58    6
Investment Banker         5    0
Judge                    28    6
Lawyer                   34    4
Manager                  34    3
Marketing Manager        27    1
Mechanical Engineer      21    3
Pharmacist               63    1
Pilot                    25    3
Plumber                  24    3
Research Analyst          9    2
Researcher               34    2
Sales Executive          24    2
Software Engineer        25    1
Teacher                 244   26
Travel Consultant        37    1
UX/UI Designer           20    2

In [530]:
# Too low amount of values, and the diffs in class to be imputed...

In [531]:
# The biggest problem is with Profession, I really dislike the disparity within it, and the inconsistency with reality, thus I shall drop it, the dataset is too short

In [532]:
temp_data['sd_grouped'].isna().sum()

0

In [533]:
columns = ['Study Satisfaction', 'Job Satisfaction', 'Academic Pressure', 'Work Pressure']
for column in columns:
  print(f"\n {train_data[column].value_counts()} \n")

#They must be ohe, and null values wont be imputed, we implicitly set them to 0, or just lacking (due to the having a job/college)

 Study Satisfaction
4.0    102
3.0     81
2.0     81
5.0     70
1.0     68
Name: count, dtype: int64


 Job Satisfaction
5.0    354
2.0    344
3.0    319
1.0    318
4.0    307
Name: count, dtype: int64


 Academic Pressure
3.0    100
5.0     83
1.0     78
4.0     72
2.0     69
Name: count, dtype: int64


 Work Pressure
5.0    343
2.0    330
4.0    327
1.0    323
3.0    319
Name: count, dtype: int64

In [534]:
# Profession cannot be imputed, the variability is too high, thus I shall set it to average of target encoding value

In [535]:
# CGPA is non existant in nulls, and Profession shouldn't be imputed but ohe encoded, but

In [536]:
# We will use ML algorithm that allows

In [537]:
train_data.head(2)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,Study Satisfaction,Job Satisfaction,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,cgpa_grouped,sd_grouped
2462,Male,55,Srinagar,Working Professional,Content Writer,NaN,1.0,NaN,4.0,Unhealthy,M.Ed,Yes,10,1,No,No,N,7.5
1918,Female,18,Lucknow,Student,NaN,3.0,NaN,5.0,NaN,Moderate,Class 12,No,4,1,Yes,No,5-6,7.5

In [538]:
"""
plt.figure(figsize=(8,6))
sns.heatmap(train_data.corr(), annot=True, cmap="coolwarm", fmt=".2f")

plt.show()
"""

'\nplt.figure(figsize=(8,6))\nsns.heatmap(train_data.corr(), annot=True, cmap="coolwarm", fmt=".2f")\n\nplt.show()\n'

In [539]:
# train_data.corr()

In [540]:
"""
Study Satisfaction
Job Satisfaction
Academic Pressure
Work pressure

Are analogous -> I must fill 0 within the null values, because it is a non existand thing!
But I shall do it with One Hot Encoding, because otherwise, I would imply the wrong conjunction, and the mean, median etc...

The same goes for CGPA, just ohe it, because all of non existant values did not occur cause they could not logically!

"""

'\nStudy Satisfaction\nJob Satisfaction\nAcademic Pressure\nWork pressure\n\nAre analogous -> I must fill 0 within the null values, because it is a non existand thing!\nBut I shall do it with One Hot Encoding, because otherwise, I would imply the wrong conjunction, and the mean, median etc...\n\nThe same goes for CGPA, just ohe it, because all of non existant values did not occur cause they could not logically!\n\n'

In [541]:
final_dataset['Dietary Habits'].isna().sum()

5

In [542]:
"""
HEALTH -> 0, DEPRESSION -> 1

Ordinal Encoding for Sleep Duration [4.5, 5.5, 7.5, 9] 5,5 and 7.5 no 6.5... , [(Depression -> 1), (Health -> 0) (!label encoder for this!)]
Dietary Habits (0, 1, 2), Study Satisfaction (1, 2, 3, 4, 5)

ordsd = OrdinalEncoder(categories=)
sd_prepared = ordsd.fit_transform(train_data[['Sleep Duration']])
sd_prepared_df = pd.DataFrame(sd_prepared, columns=ordsd.get_feature_names_out(['Sleep Duration']))
train_data = pd.concat([train_data, sd_prepared_df], axis = 1)

Drop: names, cities, profession

Family History of Mental Illness -> OHE, Have you ever had suicidal thoughts ?	-> OHE, Working Professional or Student -> OHE


Sleep duration -> numerical simply feature engineering

"""

"\nHEALTH -> 0, DEPRESSION -> 1\n\nOrdinal Encoding for Sleep Duration [4.5, 5.5, 7.5, 9] 5,5 and 7.5 no 6.5... , [(Depression -> 1), (Health -> 0) (!label encoder for this!)]\nDietary Habits (0, 1, 2), Study Satisfaction (1, 2, 3, 4, 5)\n\nordsd = OrdinalEncoder(categories=)\nsd_prepared = ordsd.fit_transform(train_data[['Sleep Duration']])\nsd_prepared_df = pd.DataFrame(sd_prepared, columns=ordsd.get_feature_names_out(['Sleep Duration']))\ntrain_data = pd.concat([train_data, sd_prepared_df], axis = 1)\n\nDrop: names, cities, profession\n\nFamily History of Mental Illness -> OHE, Have you ever had suicidal thoughts ?\t-> OHE, Working Professional or Student -> OHE\n\n\nSleep duration -> numerical simply feature engineering\n\n"

In [543]:
train_data.columns

Index(['Gender', 'Age', 'City', 'Working Professional or Student',
       'Profession', 'Academic Pressure', 'Work Pressure',
       'Study Satisfaction', 'Job Satisfaction', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression',
       'cgpa_grouped', 'sd_grouped'],
      dtype='object')

In [544]:
cols = ('Academic Pressure', 'Work Pressure', 'Study Satisfaction', 'Job Satisfaction')
dsets = (train_data, temp_data, final_dataset)
for col in cols:
  for ds in dsets:
    ds[col] = ds[col].fillna('N')

In [545]:
def one_hot_encode_inplace(train_df: pd.DataFrame, test_df: pd.DataFrame, final_df: pd.DataFrame, columns: list):
    combined = pd.concat([train_df, test_df, final_df], axis=0)
    combined = pd.get_dummies(combined, columns=columns, drop_first=False)

    train_rows = train_df.shape[0]
    test_rows = test_df.shape[0]

    train_df.loc[:, combined.columns] = combined.iloc[:train_rows, :]
    test_df.loc[:, combined.columns] = combined.iloc[train_rows:train_rows + test_rows, :]
    final_df.loc[:, combined.columns] = combined.iloc[train_rows + test_rows:, :]

    train_df.drop(columns=columns, inplace=True, errors='ignore')
    test_df.drop(columns=columns, inplace=True, errors='ignore')
    final_df.drop(columns=columns, inplace=True, errors='ignore')

In [546]:
final_dataset['Dietary Habits'].isna().sum()

5

In [547]:
one_hot_encode_inplace(train_data, temp_data, final_dataset, ['Have you ever had suicidal thoughts ?', 'Working Professional or Student', 'Family History of Mental Illness',
                                               'Gender', 'Academic Pressure', 'Work Pressure', 'Study Satisfaction', 'Job Satisfaction', 'cgpa_grouped'])

In [548]:
final_dataset['Dietary Habits'].isna().sum()

5

In [549]:
train_data['Sleep Duration'].value_counts()

Series([], Name: count, dtype: int64)

In [550]:
train_data.head(10)

,Age,City,Profession,Dietary Habits,Degree,Work/Study Hours,Financial Stress,Depression,sd_grouped,Name,...,Job Satisfaction_3.0,Job Satisfaction_4.0,Job Satisfaction_5.0,Job Satisfaction_N,cgpa_grouped_5-6,cgpa_grouped_6-7,cgpa_grouped_7-8,cgpa_grouped_8-9,cgpa_grouped_9-10,cgpa_grouped_N
2462,55,Srinagar,Content Writer,Unhealthy,M.Ed,10,1,No,7.5,NaN,...,False,True,False,False,False,False,False,False,False,True
1918,18,Lucknow,NaN,Moderate,Class 12,4,1,No,7.5,NaN,...,False,False,False,True,True,False,False,False,False,False
1905,28,Patna,Content Writer,Unhealthy,B.Ed,0,2,No,4.5,NaN,...,False,True,False,False,False,False,False,False,False,True
2338,51,Thane,Doctor,Unhealthy,M.Pharm,7,1,No,5.5,NaN,...,False,False,True,False,False,False,False,False,False,True
2238,46,Agra,Civil Engineer,Healthy,PhD,3,4,No,4.5,NaN,...,False,False,False,False,False,False,False,False,False,True
2453,54,Meerut,Teacher,Moderate,B.Ed,0,4,No,4.5,NaN,...,False,False,False,False,False,False,False,False,False,True
759,40,Delhi,Entrepreneur,Moderate,B.Tech,2,3,No,5.5,NaN,...,False,False,False,False,False,False,False,False,False,True
240,40,Kanpur,Consultant,Healthy,BBA,10,3,No,5.5,NaN,...,True,False,False,False,False,False,False,False,False,True
765,30,Patna,NaN,Moderate,BCA,10,3,No,5.5,NaN,...,False,False,False,True,True,False,False,False,False,False
1387,49,Jaipur,Teacher,Unhealthy,MBA,2,4,No,4.5,NaN,...,False,False,True,False,False,False,False,False,False,True

In [551]:
"""
sdcats = [['', '', '']] # Sleep duration categories
ordsd = OrdinalEncoder(categories=sdcats)
train_data['Sleep Duration'] = ord.fit_transform(train_data[['Sleep Duration']])
temp_data['Sleep Duration'] = ord.transform(temp_data[['Sleep Duration']])
"""

"\nsdcats = [['', '', '']] # Sleep duration categories\nordsd = OrdinalEncoder(categories=sdcats)\ntrain_data['Sleep Duration'] = ord.fit_transform(train_data[['Sleep Duration']])\ntemp_data['Sleep Duration'] = ord.transform(temp_data[['Sleep Duration']])\n"

In [552]:
train_data = train_data.drop(columns=['City', 'Profession', 'Name', 'Sleep Duration'], axis=1)
temp_data = temp_data.drop(columns=['City', 'Name', 'Profession'], axis=1)

In [553]:
final_dataset = final_dataset.drop(columns=['City', 'Name', 'Profession'])

In [554]:
train_data.head()

,Age,Dietary Habits,Degree,Work/Study Hours,Financial Stress,Depression,sd_grouped,id,Have you ever had suicidal thoughts ?_No,Have you ever had suicidal thoughts ?_Yes,...,Job Satisfaction_3.0,Job Satisfaction_4.0,Job Satisfaction_5.0,Job Satisfaction_N,cgpa_grouped_5-6,cgpa_grouped_6-7,cgpa_grouped_7-8,cgpa_grouped_8-9,cgpa_grouped_9-10,cgpa_grouped_N
2462,55,Unhealthy,M.Ed,10,1,No,7.5,NaN,False,True,...,False,True,False,False,False,False,False,False,False,True
1918,18,Moderate,Class 12,4,1,No,7.5,NaN,True,False,...,False,False,False,True,True,False,False,False,False,False
1905,28,Unhealthy,B.Ed,0,2,No,4.5,NaN,False,True,...,False,True,False,False,False,False,False,False,False,True
2338,51,Unhealthy,M.Pharm,7,1,No,5.5,NaN,True,False,...,False,False,True,False,False,False,False,False,False,True
2238,46,Healthy,PhD,3,4,No,4.5,NaN,True,False,...,False,False,False,False,False,False,False,False,False,True

In [555]:
"""
le = LabelEncoder()
train_data['Depression'] = le.fit_transform(train_data['Depression'])
temp_data['Depression'] = le.transform(temp_data['Depression'])
"""

"\nle = LabelEncoder()\ntrain_data['Depression'] = le.fit_transform(train_data['Depression'])\ntemp_data['Depression'] = le.transform(temp_data['Depression'])\n"

In [556]:
train_data['Depression'] = train_data['Depression'].map({'No': 0, 'Yes': 1})
temp_data['Depression'] = temp_data['Depression'].map({'No': 0, 'Yes': 1})
final_dataset['Depression'] = final_dataset['Depression'].map({'No': 0, 'Yes': 1})

In [557]:
train_data.columns

Index(['Age', 'Dietary Habits', 'Degree', 'Work/Study Hours',
       'Financial Stress', 'Depression', 'sd_grouped', 'id',
       'Have you ever had suicidal thoughts ?_No',
       'Have you ever had suicidal thoughts ?_Yes',
       'Working Professional or Student_Student',
       'Working Professional or Student_Working Professional',
       'Family History of Mental Illness_No',
       'Family History of Mental Illness_Yes', 'Gender_Female', 'Gender_Male',
       'Academic Pressure_1.0', 'Academic Pressure_2.0',
       'Academic Pressure_3.0', 'Academic Pressure_4.0',
       'Academic Pressure_5.0', 'Academic Pressure_N', 'Work Pressure_1.0',
       'Work Pressure_2.0', 'Work Pressure_3.0', 'Work Pressure_4.0',
       'Work Pressure_5.0', 'Work Pressure_N', 'Study Satisfaction_1.0',
       'Study Satisfaction_2.0', 'Study Satisfaction_3.0',
       'Study Satisfaction_4.0', 'Study Satisfaction_5.0',
       'Study Satisfaction_N', 'Job Satisfaction_1.0', 'Job Satisfaction_2.0',
       'Job Satisfaction_3.0', 'Job Satisfaction_4.0', 'Job Satisfaction_5.0',
       'Job Satisfaction_N', 'cgpa_grouped_5-6', 'cgpa_grouped_6-7',
       'cgpa_grouped_7-8', 'cgpa_grouped_8-9', 'cgpa_grouped_9-10',
       'cgpa_grouped_N'],
      dtype='object')

In [558]:
train_target_encoding = train_data.groupby('Degree')['Depression'].mean()

train_data['Degree_targeted'] = train_data['Degree'].map(train_target_encoding)
temp_data['Degree_targeted'] = temp_data['Degree'].map(train_target_encoding)
final_dataset['Degree_targeted'] = final_dataset['Degree'].map(train_target_encoding)
train_data.drop('Degree', axis=1)
temp_data.drop('Degree', axis=1)

,Age,Sleep Duration,Dietary Habits,Work/Study Hours,Financial Stress,Depression,sd_grouped,id,Have you ever had suicidal thoughts ?_No,Have you ever had suicidal thoughts ?_Yes,...,Job Satisfaction_4.0,Job Satisfaction_5.0,Job Satisfaction_N,cgpa_grouped_5-6,cgpa_grouped_6-7,cgpa_grouped_7-8,cgpa_grouped_8-9,cgpa_grouped_9-10,cgpa_grouped_N,Degree_targeted
1266,48,Less than 5 hours,Moderate,2,4,0,4.5,NaN,False,True,...,True,False,False,False,False,False,False,False,True,0.098361
1749,35,More than 8 hours,Moderate,11,1,0,9.0,NaN,False,True,...,False,False,False,False,False,False,False,False,True,0.189873
2050,29,More than 8 hours,Healthy,0,2,0,9.0,NaN,True,False,...,False,True,False,False,False,False,False,False,True,0.225352
393,51,7-8 hours,Healthy,10,2,0,7.5,NaN,False,True,...,False,False,False,False,False,False,False,False,True,0.137931
1544,42,5-6 hours,Healthy,10,3,0,5.5,NaN,False,True,...,False,False,False,False,False,False,False,False,True,0.150685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463,45,Less than 5 hours,Unhealthy,7,1,0,4.5,NaN,False,True,...,True,False,False,False,False,False,False,False,True,0.132353
2137,46,5-6 hours,Moderate,3,1,0,5.5,NaN,False,True,...,False,False,False,False,False,False,False,False,True,0.139241
361,51,7-8 hours,Healthy,2,2,0,7.5,NaN,True,False,...,True,False,False,False,False,False,False,False,True,0.179104
2272,35,7-8 hours,Unhealthy,7,2,0,7.5,NaN,True,False,...,False,False,False,False,False,False,False,False,True,0.477273
2553,24,Less than 5 hours,Moderate,4,4,0,4.5,NaN,False,True,...,True,False,False,False,False,False,False,False,True,0.100000

In [559]:
train_data.isna().sum()

Age                                                        0
Dietary Habits                                             0
Degree                                                     0
Work/Study Hours                                           0
Financial Stress                                           0
Depression                                                 0
sd_grouped                                                 0
id                                                      2044
Have you ever had suicidal thoughts ?_No                   0
Have you ever had suicidal thoughts ?_Yes                  0
Working Professional or Student_Student                    0
Working Professional or Student_Working Professional       0
Family History of Mental Illness_No                        0
Family History of Mental Illness_Yes                       0
Gender_Female                                              0
Gender_Male                                                0
Academic Pressure_1.0                                      0
Academic Pressure_2.0                                      0
Academic Pressure_3.0                                      0
Academic Pressure_4.0                                      0
Academic Pressure_5.0                                      0
Academic Pressure_N                                        0
Work Pressure_1.0                                          0
Work Pressure_2.0                                          0
Work Pressure_3.0                                          0
Work Pressure_4.0                                          0
Work Pressure_5.0                                          0
Work Pressure_N                                            0
Study Satisfaction_1.0                                     0
Study Satisfaction_2.0                                     0
Study Satisfaction_3.0                                     0
Study Satisfaction_4.0                                     0
Study Satisfaction_5.0                                     0
Study Satisfaction_N                                       0
Job Satisfaction_1.0                                       0
Job Satisfaction_2.0                                       0
Job Satisfaction_3.0                                       0
Job Satisfaction_4.0                                       0
Job Satisfaction_5.0                                       0
Job Satisfaction_N                                         0
cgpa_grouped_5-6                                           0
cgpa_grouped_6-7                                           0
cgpa_grouped_7-8                                           0
cgpa_grouped_8-9                                           0
cgpa_grouped_9-10                                          0
cgpa_grouped_N                                             0
Degree_targeted                                            0
dtype: int64

In [560]:
temp_data['sd_grouped'].isna().sum()

0

In [561]:
train_data['Degree'].value_counts()

Degree
Class 12    220
B.Ed         93
MCA          89
B.Com        85
BHM          81
B.Arch       79
BCA          79
MSc          78
B.Pharm      73
LLB          71
BA           70
BE           69
PhD          68
MBBS         68
BSc          67
M.Ed         67
M.Tech       67
MBA          67
BBA          67
MHM          65
LLM          64
MA           63
ME           62
MD           61
M.Pharm      58
B.Tech       57
M.Com        56
Name: count, dtype: int64

In [562]:
temp_data.isna().sum()

Age                                                       0
Sleep Duration                                            0
Dietary Habits                                            0
Degree                                                    0
Work/Study Hours                                          0
Financial Stress                                          0
Depression                                                0
sd_grouped                                                0
id                                                      512
Have you ever had suicidal thoughts ?_No                  0
Have you ever had suicidal thoughts ?_Yes                 0
Working Professional or Student_Student                   0
Working Professional or Student_Working Professional      0
Family History of Mental Illness_No                       0
Family History of Mental Illness_Yes                      0
Gender_Female                                             0
Gender_Male                                               0
Academic Pressure_1.0                                     0
Academic Pressure_2.0                                     0
Academic Pressure_3.0                                     0
Academic Pressure_4.0                                     0
Academic Pressure_5.0                                     0
Academic Pressure_N                                       0
Work Pressure_1.0                                         0
Work Pressure_2.0                                         0
Work Pressure_3.0                                         0
Work Pressure_4.0                                         0
Work Pressure_5.0                                         0
Work Pressure_N                                           0
Study Satisfaction_1.0                                    0
Study Satisfaction_2.0                                    0
Study Satisfaction_3.0                                    0
Study Satisfaction_4.0                                    0
Study Satisfaction_5.0                                    0
Study Satisfaction_N                                      0
Job Satisfaction_1.0                                      0
Job Satisfaction_2.0                                      0
Job Satisfaction_3.0                                      0
Job Satisfaction_4.0                                      0
Job Satisfaction_5.0                                      0
Job Satisfaction_N                                        0
cgpa_grouped_5-6                                          0
cgpa_grouped_6-7                                          0
cgpa_grouped_7-8                                          0
cgpa_grouped_8-9                                          0
cgpa_grouped_9-10                                         0
cgpa_grouped_N                                            0
Degree_targeted                                           0
dtype: int64

In [563]:
train_data.columns

Index(['Age', 'Dietary Habits', 'Degree', 'Work/Study Hours',
       'Financial Stress', 'Depression', 'sd_grouped', 'id',
       'Have you ever had suicidal thoughts ?_No',
       'Have you ever had suicidal thoughts ?_Yes',
       'Working Professional or Student_Student',
       'Working Professional or Student_Working Professional',
       'Family History of Mental Illness_No',
       'Family History of Mental Illness_Yes', 'Gender_Female', 'Gender_Male',
       'Academic Pressure_1.0', 'Academic Pressure_2.0',
       'Academic Pressure_3.0', 'Academic Pressure_4.0',
       'Academic Pressure_5.0', 'Academic Pressure_N', 'Work Pressure_1.0',
       'Work Pressure_2.0', 'Work Pressure_3.0', 'Work Pressure_4.0',
       'Work Pressure_5.0', 'Work Pressure_N', 'Study Satisfaction_1.0',
       'Study Satisfaction_2.0', 'Study Satisfaction_3.0',
       'Study Satisfaction_4.0', 'Study Satisfaction_5.0',
       'Study Satisfaction_N', 'Job Satisfaction_1.0', 'Job Satisfaction_2.0',
       'Job Satisfaction_3.0', 'Job Satisfaction_4.0', 'Job Satisfaction_5.0',
       'Job Satisfaction_N', 'cgpa_grouped_5-6', 'cgpa_grouped_6-7',
       'cgpa_grouped_7-8', 'cgpa_grouped_8-9', 'cgpa_grouped_9-10',
       'cgpa_grouped_N', 'Degree_targeted'],
      dtype='object')

In [564]:
train_data['Dietary Habits'].value_counts()

Dietary Habits
Unhealthy    700
Healthy      685
Moderate     659
Name: count, dtype: int64

In [565]:
final_dataset['Degree'].fillna('Class 12', inplace=True)

<ipython-input-565-53c8aba5f8b1>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_dataset['Degree'].fillna('Class 12', inplace=True)

In [566]:
final_dataset['Dietary Habits'].fillna('Moderate', inplace=True)

<ipython-input-566-8babf8eee968>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_dataset['Dietary Habits'].fillna('Moderate', inplace=True)

In [567]:
one_hot_encode_inplace(train_data, temp_data, final_dataset, ['Degree'])

In [568]:
"""
cols_to_impute = ['Dietary Habits', 'Degree']

imputer = KNNImputer(n_neighbors=20)

imputed_values = imputer.fit_transform(final_dataset[cols_to_impute])

imputed_df = pd.DataFrame(imputed_values, columns=cols_to_impute, index=final_dataset.index)

final_dataset.update(imputed_df)
"""

"\ncols_to_impute = ['Dietary Habits', 'Degree']\n\nimputer = KNNImputer(n_neighbors=20)\n\nimputed_values = imputer.fit_transform(final_dataset[cols_to_impute])\n\nimputed_df = pd.DataFrame(imputed_values, columns=cols_to_impute, index=final_dataset.index)\n\nfinal_dataset.update(imputed_df)\n"

In [569]:
final_dataset['Dietary Habits'].value_counts()

Dietary Habits
Moderate        33023
Unhealthy       30786
Healthy         29966
No                  6
More Healthy        2
Academic            1
Naina               1
1.0                 1
Raghav              1
Vivaan              1
5 Unhealthy         1
Soham               1
Educational         1
MCA                 1
5 Healthy           1
Resistant           1
Mealy               1
Less Healthy        1
Male                1
Prachi              1
Indoor              1
Kolkata             1
Name: count, dtype: int64

In [570]:
len(final_dataset)

93800

In [571]:
final_dataset.columns

Index(['id', 'Age', 'Sleep Duration', 'Dietary Habits', 'Work/Study Hours',
       'Financial Stress', 'sd_grouped', 'Depression',
       'Have you ever had suicidal thoughts ?_No',
       'Have you ever had suicidal thoughts ?_Yes',
       ...
       'Degree_Navya', 'Degree_PCA', 'Degree_PhD', 'Degree_Pune', 'Degree_RCA',
       'Degree_Rupak', 'Degree_S.Pharm', 'Degree_Travel Consultant',
       'Degree_Vibha', 'Degree_Vrinda'],
      dtype='object', length=134)

In [573]:
health_habits = ('Moderate', 'Unhealthy', 'Healthy')
for habit in health_habits:
  if habit not in health_habits:
    final_train_data[''] = final_train_data.drop(final_train_data[final_train_data['Dietary Habits'] == habit].index)
final_dataset['Dietary Habits'].value_counts()

Dietary Habits
Moderate        33023
Unhealthy       30786
Healthy         29966
No                  6
More Healthy        2
Academic            1
Naina               1
1.0                 1
Raghav              1
Vivaan              1
5 Unhealthy         1
Soham               1
Educational         1
MCA                 1
5 Healthy           1
Resistant           1
Mealy               1
Less Healthy        1
Male                1
Prachi              1
Indoor              1
Kolkata             1
Name: count, dtype: int64

In [572]:
ord = OrdinalEncoder(categories=[['Healthy', 'Moderate', 'Unhealthy']])
train_data['Dietary Habits'] = ord.fit_transform(train_data[['Dietary Habits']])
temp_data['Dietary Habits'] = ord.transform(temp_data[['Dietary Habits']])
final_dataset['Dietary Habits'] = ord.transform(final_dataset[['Dietary Habits']])

ValueError: Found unknown categories ['Educational', 'Indoor', 'Vivaan', 'Naina', 'MCA', 'Prachi', 'No', 'Resistant', 'Kolkata', 'Male', 'Less Healthy', '1.0', 'Raghav', 'More Healthy', 'Soham', 'Academic', 'Mealy', '5 Unhealthy', '5 Healthy'] in column 0 during transform

In [574]:
final_dataset['Dietary Habits'].isna().sum()

0

In [575]:
train_data.head(2)

,Age,Dietary Habits,Work/Study Hours,Financial Stress,Depression,sd_grouped,id,Have you ever had suicidal thoughts ?_No,Have you ever had suicidal thoughts ?_Yes,Working Professional or Student_Student,...,Degree_Navya,Degree_PCA,Degree_PhD,Degree_Pune,Degree_RCA,Degree_Rupak,Degree_S.Pharm,Degree_Travel Consultant,Degree_Vibha,Degree_Vrinda
2462,55,2.0,10,1,0,7.5,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1918,18,1.0,4,1,0,7.5,NaN,True,False,True,...,False,False,False,False,False,False,False,False,False,False

In [576]:
train_data.columns

Index(['Age', 'Dietary Habits', 'Work/Study Hours', 'Financial Stress',
       'Depression', 'sd_grouped', 'id',
       'Have you ever had suicidal thoughts ?_No',
       'Have you ever had suicidal thoughts ?_Yes',
       'Working Professional or Student_Student',
       ...
       'Degree_Navya', 'Degree_PCA', 'Degree_PhD', 'Degree_Pune', 'Degree_RCA',
       'Degree_Rupak', 'Degree_S.Pharm', 'Degree_Travel Consultant',
       'Degree_Vibha', 'Degree_Vrinda'],
      dtype='object', length=134)

In [577]:
temp_data.drop('Sleep Duration', inplace=True, axis=1)

In [578]:
temp_data.columns

Index(['Age', 'Dietary Habits', 'Work/Study Hours', 'Financial Stress',
       'Depression', 'sd_grouped', 'id',
       'Have you ever had suicidal thoughts ?_No',
       'Have you ever had suicidal thoughts ?_Yes',
       'Working Professional or Student_Student',
       ...
       'Degree_Navya', 'Degree_PCA', 'Degree_PhD', 'Degree_Pune', 'Degree_RCA',
       'Degree_Rupak', 'Degree_S.Pharm', 'Degree_Travel Consultant',
       'Degree_Vibha', 'Degree_Vrinda'],
      dtype='object', length=133)

In [579]:
temp_data.head(5)

,Age,Dietary Habits,Work/Study Hours,Financial Stress,Depression,sd_grouped,id,Have you ever had suicidal thoughts ?_No,Have you ever had suicidal thoughts ?_Yes,Working Professional or Student_Student,...,Degree_Navya,Degree_PCA,Degree_PhD,Degree_Pune,Degree_RCA,Degree_Rupak,Degree_S.Pharm,Degree_Travel Consultant,Degree_Vibha,Degree_Vrinda
1266,48,1.0,2,4,0,4.5,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1749,35,1.0,11,1,0,9.0,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2050,29,0.0,0,2,0,9.0,NaN,True,False,False,...,False,False,False,False,False,False,False,False,False,False
393,51,0.0,10,2,0,7.5,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1544,42,0.0,10,3,0,5.5,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [580]:
# train_data.drop('Depression', inplace=True, axis=1)
# temp_data.drop('Depression', inplace=True, axis=1)

In [581]:
for col in train_data.columns:
    if train_data[col].dtype in [np.int64, np.float64]:
        print(col)

Age
Dietary Habits
Work/Study Hours
Financial Stress
Depression
sd_grouped
id
Degree_targeted

In [582]:
for col in temp_data.columns:
    if temp_data[col].dtype in [np.int64, np.float64]:
        print(col)

Age
Dietary Habits
Work/Study Hours
Financial Stress
Depression
sd_grouped
id
Degree_targeted

In [583]:
cols_to_scale = ['Age', 'Dietary Habits', 'Work/Study Hours', 'Financial Stress', 'Degree_targeted', 'sd_grouped']

stscaler = StandardScaler()
train_scaled = stscaler.fit_transform(train_data[cols_to_scale])
temp_scaled = stscaler.transform(temp_data[cols_to_scale])
final_scaled = stscaler.transform(final_dataset[cols_to_scale])

train_scaled = pd.DataFrame(train_scaled, columns=cols_to_scale, index=train_data.index)
temp_scaled = pd.DataFrame(temp_scaled, columns=cols_to_scale, index=temp_data.index)
final_scaled = pd.DataFrame(final_scaled, columns=cols_to_scale, index=final_dataset.index)

train_data = pd.concat([train_data.drop(columns=cols_to_scale), train_scaled], axis=1)
temp_data = pd.concat([temp_data.drop(columns=cols_to_scale), temp_scaled], axis=1)
final_dataset = pd.concat([final_dataset.drop(columns=cols_to_scale), final_scaled], axis=1)

ValueError: could not convert string to float: 'Moderate'

In [584]:
train_data = train_data.drop(columns=['Sleep Duration'])
# temp_data = temp_data.drop(columns=['Sleep Duration'])

In [585]:
# temp_data = temp_data.drop(columns=['sd_grouped'])

In [586]:
validation_data, test_data = train_test_split(temp_data, test_size=0.5, random_state=42)

In [ ]:
X_train = train_data.drop(columns=['Depression'])
y_train = train_data['Depression']
X_val = validation_data.drop(columns=['Depression'])
y_val = validation_data['Depression']
X_test = test_data.drop(columns=['Depression'])
y_test = test_data['Depression']

In [587]:
train_data.head(5)

,Age,Dietary Habits,Work/Study Hours,Financial Stress,Depression,sd_grouped,id,Have you ever had suicidal thoughts ?_No,Have you ever had suicidal thoughts ?_Yes,Working Professional or Student_Student,...,Degree_Navya,Degree_PCA,Degree_PhD,Degree_Pune,Degree_RCA,Degree_Rupak,Degree_S.Pharm,Degree_Travel Consultant,Degree_Vibha,Degree_Vrinda
2462,55,2.0,10,1,0,7.5,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1918,18,1.0,4,1,0,7.5,NaN,True,False,True,...,False,False,False,False,False,False,False,False,False,False
1905,28,2.0,0,2,0,4.5,NaN,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2338,51,2.0,7,1,0,5.5,NaN,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2238,46,0.0,3,4,0,4.5,NaN,True,False,False,...,False,False,True,False,False,False,False,False,False,False

In [ ]:
X_train.isna().sum()

In [ ]:
if X_val.isna().values.any():
    print("Nans are there")
else:
    print("No NaNs found")

In [ ]:
X_val['sd_grouped'].value_counts()

In [ ]:
columns_with_nan = final_dataset.columns[final_dataset.isna().any()]

print("Columns with NaNs:")
print(columns_with_nan)

I shall check the value counts, the number of columns is too high?  Something to do about this?  Before this I shall try SVM. But before I shall standradize this data. (I will not use NNs)

In [ ]:
model_0 = SVC(kernel='rbf', C=1.0, gamma='scale')
model_0.fit(X_train, y_train)

In [ ]:
y_preds = model_0.predict(X_val)

acc_score = accuracy_score(y_pred=y_preds, y_true=y_val)
conf_matrix = confusion_matrix(y_pred=y_preds, y_true=y_val)
print(acc_score)

In [ ]:
y_test_preds = model_0.predict(X_test)

acc_score = accuracy_score(y_pred=y_test_preds, y_true=y_test)
conf_matrix = confusion_matrix(y_pred=y_test_preds, y_true=y_test)
print(acc_score)

In [ ]:
print(conf_matrix)

In [ ]:
"""
test_data_v2 = pd.read_csv('../content/test.csv')
final_result = pd.DataFrame(data=test_data_v2['PassengerId'], columns=['PassengerId'])
test_length = len(final_test_data)
for i in range(test_length):
  input_data = test_np[i].reshape(1, -1)
  prediction = int(np.round(model_0.predict(input_data, verbose=1))) # You may set verbose to 0, lest you do not want to see the progress
  final_result.loc[i, 'Survived'] = prediction
  print(prediction)
final_result['Depression'] = final_result['Depression'].astype(int)
"""